
.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:#3c4252;

}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c4252;
  padding: 15px;
  margin-top: 130px;
  margin-bottom: 80px;
}

.login-form {
  background-color: rgba(60, 66, 82, 0.8);
  border-radius: 6px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.user-icon-container {
  display: flex;
  justify-content: center; /* توسيط الأيقونة أفقياً */
  margin-bottom: 15px; /* إضافة بعض المسافة أسفل الحاوية */
}

.user-icon {
  width: 70px; /* تكبير العرض (40px * 1.75) */
  height: 70px; /* تكبير الارتفاع (40px * 1.75) */
  background-color: #4a5568;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* لا حاجة لتحديد الهامش هنا، تم التعامل معه في الحاوية */
}

.user-icon svg {
  width: 35px; /* تكبير العرض (20px * 1.75) */
  height: 35px; /* تكبير الارتفاع (20px * 1.75) */
  color: #f7fafc;
}

.login-form h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.input-field {
  padding: 10.5px; /* تكبير الحشو (6px * 1.75 تقريباً) */
  font-size: 14px; /* قد تحتاج إلى تكبير حجم الخط قليلاً ليناسب الحقول الأكبر */
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 13px;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-label {
  margin-left: 0.5em;
}

.forgot-password {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 14px; /* تكبير الحشو (8px * 1.75) */
  background-color: #d3d3d3;
  border: none;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px; /* تكبير حجم الخط */
  margin-top: 12px;
}

.login-button:hover {
  background-color: #bababa;
}

.register-link {
  margin-top: 18px;
  font-size: 13px;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
}